<%= form_with model: @recipe do |form| %>

  <div class="field form-group">
    <%= form.text_field :name, class: "form-control", placeholder: "Recipe name" %>
    <%= form.text_area :preparation, size: "70x5", class: "form-control", placeholder: "Preparation" %>
    <%= form.number_field :preparation_time, class: "form-control", placeholder: "Preparation time in minutes" %>
  </div>

  <br>
  <h2>Ingredients</h2>
  <%= form.fields_for :recipe_ingredients do |ingredients_subform| %>
    <%= ingredients_subform.select :ingredient_id, Ingredient.all.map { |i| ["#{i.name}", i.id] } %>
    <%= ingredients_subform.number_field :quantity, class: "form-control", placeholder: "Quantity" %>
    <%= ingredients_subform.text_field :unit, class: "form-control", placeholder: "Unit" %>
  <% end %>

  <br>
  <%= form.submit "Create Recipe", class: 'btn btn-secondary' %>
<% end %>

