<%= form_with model: @recipe do |form| %>

  <div class="field form-group">
    <%= form.label :name, "Name" %>
    <%= form.text_field :name, class: "form-control" %>

    <%= form.label :preparation, "Preparation" %>
    <%= form.text_field :preparation, class: "form-control" %>
  </div>

  <h2>Ingredients</h2>

  <%= form.fields_for :ingredients_recipes do |ingredients_subform| %>
    <%= ingredients_subform.select :ingredient_id, Ingredient.all.map { |i| ["#{i.name}", i.id] } %>
    <%= ingredients_subform.label :quantity, "Quantity" %>
    <%= ingredients_subform.number_field :quantity, class: "form-control" %>
  <% end %>

  <%= form.submit "Create Recipe", class: 'btn btn-secondary' %>
<% end %>

