<p>
  <h1><%= @recipe.name %></h1>
</p>

<br>
<p>
  <strong>Ingredients:</strong>
<ul>
  <% @recipe.recipe_ingredients.each do |i| %>
    <li>
      <%= "#{i.ingredient.name} #{i.quantity} #{i.unit}" %>
    </li>
  <% end %>
</ul>
</p>

<p>
  <strong>Preparation:</strong>
  <%= @recipe.preparation %>
</p>

<p>
  <strong>Preparation time:</strong>
  <%= @recipe.preparation_time %> minutes
</p>

<br>
<%= link_to 'New', new_recipe_path, class:"btn btn-secondary" %>
<%= link_to 'Edit', edit_recipe_path(@recipe), class: "btn btn-secondary" %> |
<%= link_to 'Back', recipes_path, class: "btn btn-secondary" %>