<%= form_with model: @recipe do |form| %>
  <h1>Admin panel</h1>
  <br>
  <% @recipes_to_accept.each do |recipe| %>
    <h2> <%= recipe.name %> </h2>

    <table class="table  table-stripes table-bordered table-hover">
      <tbody>
      <% recipe.recipe_ingredients.each do |recipe_ingredient| %>
        <tr>
          <td> <% recipe_ingredient.ingredient.name %> </td>
          <td> <% "#{number_with_precision(recipe_ingredient.quantity, precision: 2, significant: false, strip_insignificant_zeros: true)} #{recipe_ingredient.unit}" %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <table class="table  table-stripes table-bordered table-hover">
      <tbody>
      <tr>
        <td><%= recipe.preparation %></td>
        <td><%= recipe.preparation_time %> minutes</td>
      </tr>
      </tbody>
    </table>
    <%= form.check_box :accept %> Recipe Accepted
    </br>
    <%= form.submit "Save", class: 'btn btn-secondary' %>
    <br>
    <br>
  <% end %>
<% end %>