<%= form_with(model: ingredient) do |form| %>
  <% if ingredient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ingredient.errors.count, "error") %> prohibited this ingredient from being saved:</h2>

      <ul>
        <% ingredient.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ingredients_quantity %>
    <%= form.text_field :ingredients_quantity %>
  </div>

  <div class="field">
    <%= form.label :ingredients_unit %>
    <%= form.text_field :ingredients_unit %>
  </div>

  <div class="field">
    <%= form.label :ingredients_name %>
    <%= form.text_field :ingredients_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
