<h1>Recipes</h1>

<% @recipes.each do |recipe| %>
  <h2><%= recipe.name %></h2>

  <table class="table  table-stripes table-bordered table-hover">
    <tbody>
    <% recipe.ingredients_recipes.each do |ingredients_recipe| %>
      <tr>
        <td><%= ingredients_recipe.ingredient.name %></td>
        <td><%= "#{ingredients_recipe.quantity} #{ingredients_recipe.unit}" %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <table class="table  table-stripes table-bordered table-hover">
    <tbody>
    <tr>
      <td><%= recipe.preparation %></td>
      <td><%= recipe.preparation_time %> minutes</td>
    </tr>
    </tbody>
  </table>
  <hr>
<% end %>

<br>

<%= link_to 'New Recipe', new_recipe_path, class: "btn btn-secondary" %>