<h1>Recipes</h1>

<table class="table  table-stripes table-bordered table-hover">
  <thead>
  <tr>
    <th>Ingredients</th>
    <th>Preparation</th>
    <th>Preparation time</th>
    <th>Multiplier</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @recipes.each do |recipe| %>
    <tr>
      <td><%= recipe.ingredients %></td>
      <td><%= recipe.preparation %></td>
      <td><%= recipe.preparation_time %></td>
      <td><%= recipe.multiplier %></td>
      <td><%= link_to 'Show', recipe, class:"btn btn-secondary" %></td>
      <td><%= link_to 'Edit', edit_recipe_path(recipe), class:"btn btn-secondary" %></td>
      <td><%= link_to 'Destroy', recipe, class:"btn btn-secondary", method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recipe', new_recipe_path, class:"btn btn-secondary" %>