<% @recipes.each do |recipe| %>
  <h1><%= recipe.name %></h1>

  <table class="table  table-stripes table-bordered table-hover">
    <tbody>
    <% recipe.recipe_ingredients.each do |recipe_ingredient| %>
      <tr>
        <td><%= recipe_ingredient.ingredient.name %></td>
        <td><%= "#{recipe_ingredient.quantity} #{recipe_ingredient.unit}" %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <table class="table  table-stripes table-bordered table-hover">
    <tbody>
    <tr>
      <td><%= recipe.preparation %></td>
      <td><%= recipe.preparation_time %> minutes</td>
    </tr>
    </tbody>
  </table>
  <br>
<% end %>

<br>

<%= link_to 'New Recipe', new_recipe_path, class: "btn btn-secondary" %>