<%= form_with(model: dish) do |form| %>
  <% if dish.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dish.errors.count, "error") %> prohibited this dish from being saved:</h2>

      <ul>
        <% dish.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ingredients %>
    <%= form.text_field :ingredients %>
  </div>

  <div class="field">
    <%= form.label :preparation %>
    <%= form.text_field :preparation %>
  </div>

  <div class="field">
    <%= form.label :preparation_time %>
    <%= form.number_field :preparation_time %>
  </div>

  <div class="field">
    <%= form.label :multiplier %>
    <%= form.text_field :multiplier %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
